@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">مرحبا بكم في نظام ادارة درجات الطلاب</h1>
    <div class="container mt-5">
        <a href="/Departments/ReadDepartmentList" class="colored-anchor blue-bg">ادارة الاقسام</a>
        <a href="/Instructor/ReadInstructorList" class="colored-anchor green-bg">معلومات المدربين</a>
        <a href="/Course/ReadCoursesList"class="colored-anchor red-bg">الدورات المتاحه</a>
        <a href="/Trainee/ReadTraineeslist" class="colored-anchor blue-bg">بيانات المتدرب</a>

    </div>
</div>
