@model Xacadmey.Models.Trainee

@{
    ViewData["Title"] = "EditTrainee";

    SelectList DeptItems =
    new SelectList(ViewBag.DeptList,"Id","Name");

}

<h1>EditTrainee</h1>

<h4>Trainee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTrainee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
                    <option value="0">select department</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div> *@
            <div class="form-group">

                <label asp-for="DepartmentId"></label>

                <select asp-items="DeptItems" asp-for="DepartmentId" class="form-control">
                 <option value="0">select department</option>

                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        @section Scripts {
            @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        }
    </div>
</div>

<div>
    <a asp-action="ReadTraineeslist">Back to List</a>
</div>

